name: Build and Deploy Dockerized App

on:
  push:
    branches:
      - main  # Adjust to your target branch

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t hello-world-python .

      - name: Tag Docker image
        run: |
          docker tag hello-world-python:latest 975049994612.dkr.ecr.ap-south-1.amazonaws.com/hello-world-python:latest

      - name: Push Docker image to ECR
        run: |
          docker push 975049994612.dkr.ecr.ap-south-1.amazonaws.com/hello-world-python:latest

      - name: Deploy to Amazon ECS
        run: |
          aws ecs update-service --cluster test \
          --service test \
          --force-new-deployment \
          --region ap-south-1
